@import "reset.css";
@import "components/value.css";
@import "components/contentBox.css";
@import "components/login.css";
@import "components/header.css";
@import "components/nav.css";
@import "components/shortcut.css";
@import "components/todo.css";
@import "components/neumorphism.css";
@import "components/clock.css";
@import "components/randoming.css";
@import "components/rockPaperScissors.css";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
    width: 100vw;
    height: 100vh;
    font-size: 0.5vw;
}

body {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--BackgroundColor);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
::-webkit-scrollbar {
    display: none;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    flex-direction: column;
    position: relative;
}

.timer__input {
    font-size: 2em;
    display: flex;
    margin: 10px;
}

.timer__input input {
    margin-left: 10px;
    width: 10em;
    height: 1em;
    text-align: center;
}

.timer__btnBox {
    position: absolute;
    bottom: 2em;
}

.timer__text {
    font-size: 4em;
    font-weight: 600;
}

/* global */
.hidden {
    display: none;
}
.opacity {
    opacity: 0;
}
