@import "reset.css";
@import "components/value.css";
@import "components/contentBox.css";
@import "components/login.css";
@import "components/header.css";
@import "components/nav.css";
@import "components/shortcut.css";
@import "components/todo.css";
@import "components/neumorphism.css";
@import "components/clock.css";
@import "components/randoming.css";
@import "components/rockPaperScissors.css";
@import "components/timer.css";
@import "components/weather.css";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
    width: 100vw;
    height: 100vh;
    font-size: 0.5vw;
}

body {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--BackgroundColor);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    color: var(--FontColor);
}
::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
    background-color: var(--BtnBackgroundColor);
}

input {
    margin: 2rem;
    background-color: var(--BackgroundColor);
    color: var(--FontColor);
}

/* global */
.hidden {
    display: none;
}
.opacity {
    opacity: 0;
}
