header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

header > section {
    width: 25%;
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_info {
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-size: 3rem;
}

.profile__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2em;
    font-size: 4em;
    border-radius: 50%;
}

.profile__name {
    font-weight: 900;
    font-size: 3rem;
}
